@container(max-width:120px){.table-0f32c645-969d-4345-a19f-f879078285dd-column-120{display: none;}}
@container(max-width:240px){.table-0f32c645-969d-4345-a19f-f879078285dd-column-240{display: none;}}
@container(max-width:360px){.table-0f32c645-969d-4345-a19f-f879078285dd-column-360{display: none;}}
@container(max-width:480px){.table-0f32c645-969d-4345-a19f-f879078285dd-column-480{display: none;}}
@container(max-width:600px){.table-0f32c645-969d-4345-a19f-f879078285dd-column-600{display: none;}}